_assets/css-lib/*
settings/__init__.py
_assets/css-lib/gdgs/*
_assetst /js-lib/
.gitignore~
.gitignore
*.db
settings.py
.sass-cache
.sass-cache/*
*.scssc
_log/*
*.pyc
*.swo
deploy/*
tmp/*
*.db-hold
*.db
*.swp
*.sqlite
*.db
*.py~
*.log.*
*.log
*.markdown~
*.gitignore~
settings_loc.py
settings_dev.py
*.tmpl~
_start/
prod.py

readme (Autosaved).markdown
