Django==1.3.1
PIL==1.1.7
South==0.7.3
django-classy-tags==0.3.4.1
django-cms==2.2
django-debug-toolbar==0.8.5
django-memcached==0.1.2
django-mptt==0.5.1
django-notification==0.1.5
django-sekizai==0.5
html5lib==0.90
python-memcached==1.47
wsgiref==0.1.2
yolk==0.4.1
