{% extends "template-home.html" %}
{% load cms_tags %}

{% block main-header %}
<div class="columns-16">
  <div class="logo"><a href="http://nerdfiles.net" title="nerdfiles.net">nerdfiles.net</a></div>
</div>
{% endblock %}

{% block main %}
<div class="columns-16" role="main">

  <div class="siteIntro">
    {% placeholder "Site "Intro" Content" %}
  </div><!-- End .siteIntro -->
  
  <div class="siteProjects">
    {% placeholder "Site "Projects" Content" %}
  </div><!-- End .siteProjects -->
  
  <div class="sitePlayground">
    {% placeholder "Site "Playground" Content" %}
  </div><!-- End .sitePlayground -->
  
  <div class="siteContact">
    {% placeholder "Site "Contact" Content" %}
  </div><!-- End .siteProjects -->

</div>
{% endblock %}

{% block main-footer %}
<div class="columns-16">
  <p>&copy; 2003-2011. Rights, right?</p>
</div>
{% endblock %}
