{% extends "template-home.html" %}
{% load cms_tags %}

{% block main-header %}
<div class="columns-16">
  <p>Header.</p>
</div>
{% endblock %}

{% block main %}
<div class="columns-16" role="main">

  <div class="siteIntro">
    {% placeholder "Site Main Content" %}
  </div><!-- End .siteIntro -->
  <div class="siteProjects"></div><!-- End .siteProjects -->
  <div class="sitePlayground"></div><!-- End .sitePlayground -->
  <div class="siteContact"></div><!-- End .siteProjects -->

</div>
{% endblock %}

{% block main-footer %}
<div class="columns-16">
  <p>Footer.</p>
</div>
{% endblock %}
