{% load cms_tags menu_tags sekizai_tags lastfm_widget %}

<!DOCTYPE HTML>

{% block font %}
{% addtoblock "font" %}
{% include "font-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block css %}
{% addtoblock "css" %}
{% include "css-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block scriptloader %}
{% addtoblock "scriptloader" %}
{% include "js-scriptloader.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block js %}
{% addtoblock "js" %}
{% include "js-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block analytics %}
{% addtoblock "analytics" %}
{% include "js-analytics.tmpl" %}
{% endaddtoblock %}
{% endblock %}

<html lang="en">

<head>

<meta charset="utf-8" />

<title>/-;</title>

{% render_block "font" %}
{% render_block "css" %}
{% render_block "scriptloader" %}

</head>

<body class="">

{% cms_toolbar %}

<div class="container">

<section>
	<header>
		<h1>nerdfiles.net</h1>
	</header>
</section>

<section>
{% block main_content %}
  {% placeholder "Main Content" or %}
    
    <article id="main-content">

    	<section>
    		<header>
    			<h1></h1>
    		</header>
    	</section>
    
    	<section>
    		<p>blugggh.</p>	
    	</section>

    </article>

  {% endplaceholder %}
{% endblock %}

{% block aside_content %}
  {% placeholder "Aside Content" or %}

	<aside>
		
		<section class="mod mod-lastfm">
			<header>
				<h1>This Week</h1>
			</header>
			<div class="inner">

				<div class="link">
					<a href="http://www.last.fm/user/wittysense/">_</a>
				</div>
			</div>
		</section>

	</aside>

{% endplaceholder %}
{% endblock %}
</section>

<section>
	<footer>
	.
	</footer>
</section>

</div>

{% render_block "js" %}

<!-- ... -->

{% render_block "analytics" %}

</body>

</html>
