<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
<style>
  body {
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    line-height: 1.7;
    text-shadow: 0 0 1px #e0e0e0;
  }
  body.base .container { 
    margin: 0 auto; 
    width: 720px; }
  body.base h1 { font-size: 2em; border-top: 1px #e0e0e0 dashed; line-height: 1; margin: 45px 0 0; padding: 25px 0 25px; }
  body.base #main-content h1 { margin: 0; padding: 0; border-top: none; }
  body.base #main-content header { }
  body.base #main-content { border-top: 1px #e0e0e0 dashed; border-bottom: 1px #e0e0e0 dashed; }
  a { padding: 0 10px; text-decoration: none; display: inline-block; *zoom: 1; *display: inline; border: 1px #e0e0e0 dashed; }
  a.external::after { content: ' ⤴'; }
  body.base blockquote { box-shadow: 0 0 .3em #ccc; padding: 20px; }
  body.base blockquote p { display: inline-block; margin: 0; }
  body.base blockquote cite { font-size: 16px; }
  body.base blockquote p::before { margin: 0 .5em 0 0; content: "❝ "; display: inline-block; }
</style>
