<link  
  href="{{ ASSETS_URL }}css/compass/stylesheets/print.css" 
  media="print" 
  rel="stylesheet" />

<link  
  href="{{ ASSETS_URL }}css/compass/stylesheets/screen.css" 
  media="screen" 
  rel="stylesheet" />

