<!-- == BEHAVIOR: ANALYTICS ======================================= -->

<script>
  window._gaq = [
    ['_setAccount','UA-1343124-3'],
    ['_setDomainName', '.nerdfiles.net'],
    ['_trackPageview'],
    ['_trackPageLoadTime']
  ];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>

<script>
  var GoSquared = {};
  GoSquared.acct = "GSN-058470-G";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>


