<!-- == BEHAVIOR: ANALYTICS ======================================= -->

<script>
  window._gaq = [
    ['_setAccount','UA-1343124-3'],
    ['_setDomainName', '.domain.com'],
    ['_trackPageview'],
    ['_trackPageLoadTime']
  ];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
