<!-- == BEHAVIOR: THIS CAT IS A FUCKING LANDMINE ======================================= -->

<script type="text/javascript"> var CloudFlare = CloudFlare || []; </script>
<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/cloudflare.js" async></script>
<script type="text/javascript">
  var censorshipConfig = {
    "twitterHandle" : "filesofnerds", 
    "position_x" : "left", 
    "selector" : "p, li, a, h1, .censor_me",
    "persistant" : false,
  }

  var a=window.CloudFlare;a.push({paths:{stop_censorship:"//ajax.cloudflare.com/cdn-cgi/nexp/apps/"}});a.push(function(b,c){c("stop_censorship/config",function(){return censorshipConfig});b(["stop_censorship"])});
</script>

