<!-- == BEHAVIOR: SCRIPT LOADER ======================================= -->

<!-- modernizr.min.js -->
<!--script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script-->

<!-- css_browser_selector.js -->
<script charset="utf-8" src="{{ ASSETS_URL }}js-lib/css_browser_selector/0.4.0/css_browser_selector.js"></script>

