<!-- == BEHAVIOR: SCRIPT LOADER ======================================= -->

<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js"></script>
<script>
  window.Modernizr || document.write('<script src="{{ ASSETS_URL }}js-lib/modernizr/2.6.1/modernizr.min.js"><\/script>');
</script>
