<aside id="drop-tip" class="m m-tipjar">
  <div class="m--content">
    <span class="gittip-0001" gittip-username="nerdfiles">
    </span>
    <script id="gittip-0001"
      src="https://www.gittip.com/assets/widgets/0001.js">
    </script>
  </div><!-- __content -->
</aside><!-- .m -->
<!-- #ideas #gittip #tipjar -->

