{% load cache %}

{% cache 43200 kippt %}
<section class="important">
  <div class="ui widget kippt">

    {% if imp_feed %}
    <p> <span class="iconic share" style="font-size: 2em; line-height: 1em; vertical-align: middle"></span> Hey, go read 

      {% for item in imp_feed.entries|slice:":2" %}

        <a 
          href="{{ item.link }}" 
          title="{{ item.title }}" 
          target="_blank" 
          rel="external" 
        >this</a>{% if forloop.last %}<a
            href="http://kippt.com/nerdfiles/important"
            title="Important!!!!!!!!!!!!@!!@#!#@@#$@!!1"
          >!</a>
        {% endif %}

        {% if forloop.first %}
        and
        {% endif %}
        
      {% empty %}

        something <a
          href="http://kippt.com/nerdfiles/important/"
          title="Important!"
          target="_blank"
          rel="external"
        >important</a>!

      {% endfor %}

    </p>
    {% endif %}

  </div>
</section>
{% endcache %}


