{% load replace analytical cache cms_tags menu_tags sekizai_tags %}

<!DOCTYPE HTML>

{% block font %}
{% addtoblock "font" %}
{% include "font-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block css %}
{% addtoblock "css" %}
{% include "css-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block js %}
{% addtoblock "js" %}
{% include "js-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block scriptloader %}
{% addtoblock "scriptloader" %}
{% include "js-scriptloader.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block analytics %}
{% addtoblock "analytics" %}
{% include "js-analytics.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block media %}
{% addtoblock "mediaquery" %}
{% include "media-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block tipjar %}
{% addtoblock "tipjar" %}
{% include "js-tipjar.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block landmine %}
{% addtoblock "landmine" %}
{% include "js-landmine.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block kippt %}
{% endblock %}

<html lang="en">

<!-- head:browser,dns-prefetch,meta,responses,presentation,ie,print -->
<head>
{% analytical_head_top %}

<!-- head::browser -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />

<!-- head::dns-prefetch -->
<link rel="dns-prefetch" href="//use.edgefonts.net" />
<link rel="dns-prefetch" href="//code.jquery.com" />
<link rel="dns-prefetch" href="//gittip.com" />
<link rel="dns-prefetch" href="//google-analytics.com" />

<!-- head::meta -->
<title>{% page_attribute "page_title" %} &#9679; nerdfiles.net</title>
<meta name="description" content="Web analyst / psychonaut / anarchist footballer / tactical urban cyclist / food hacker / aasimar —" />

<!-- head::responses -->

<!-- head::presentation -->
{% render_block "font" %}

{% render_block "css" %}

<link rel="stylesheet" charset="utf-8" href="{{ ASSETS_URL }}font/iconic/iconic_fill/iconic_fill.css" />

<link rel="shotcut icon" href="{{ ASSETS_URL }}img-ui/favicon.png" />

<!-- head::mediaquery -->

{# render_block "mediaquery" #}

<!-- head::ie -->

<!-- head::print -->

{% analytical_head_bottom %}
</head>

<body class="nerdfiles-net-{% page_attribute "slug" %} {% block body_class %}base{% endblock %}">

<!--[if lt IE 7]>
  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

{% analytical_body_top %}

{% cms_toolbar %}

<div class="container">

<nav id="site-access">
  <ul>
    <li><a href="#main-content">Skip to Content</a></li><!-- #isking -->
    <li><a href="#drop-tip">Drop a tip?</a></li><!-- #tipjar -->
  </ul>
</nav>

{% cache 2880 activities %}
<header class="site-header">
  <ul class="activities">
    {% if rt %}
    <li class="lastfm">
      <a href="http://www.last.fm/listen/user/wittysense/personal" title="
        #RECENTLY PLAYED TRACKS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% for bob in rt %}
             {{ forloop.counter }}. {{ bob }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             #url {{ bob.get_url }}
          {% empty %}
        Must be trapped in a well or something...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}
        ">
        Recently Listened Tracks
      </a>
      <div itemscope itemtype="http://schema.org/MusicPlaylist" class="accessiblyhide">
        <h2 itemprop="name">Recently Played Tracks</h2>
        <!-- It's a fucking meta-playlist! -->
        <meta itemprop="numTracks" content="5" />
        <ol>
        {% for track in rt %}
          <li itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
            {% if track.title %}
            <span itemprop="byArtist">{% replace search="–" replacement="</span><span itemprop='name'>" %}{{ track.title }}{% endreplace %}</span>
            {% endif %}
            <meta content="{{ track.url|cut:"www."}}" itemprop="url" />
          </li>
        {% empty %}
          <li>
            <p>Must be trapped in a well or something...</p>
          </li>
        {% endfor %}
        </ol>
      </div><!-- @itemscope:MusicPlaylist -->
    </li>
    {% endif %}

  </ul><!-- .activities -->
	<h1>
    <a href="http://nerdfiles.net" title="It's about time someone take things scificially.">
      nerdfiles.net
    </a>
  </h1>
</header><!-- .site-header -->
{% endcache %}

{% render_block "kippt" %}

{% cache 2880 main %}
{% block main_content %}
<section>
    <article id="main-content" role="main" class="main">

        <!--section>
          <header>
            <h1>
            </h1>
          </header>
        </section-->
    
        <section>
        {% placeholder "Main Content" or %}
          <p><code>.empty</code></p>
        {% endplaceholder %}
        </section>

    </article>
</section>
{% endblock %}
{% endcache %}

{% block disqus %}
{% endblock %}

{% block aside_content %}
<!--
{# 
  @note since customarily a section with multiple 
        modules, placeholders should go inside .inner.
#}
-->
<section>
  <!--aside>
  {# placeholder "Aside Content" or #}

		<section class="mod mod-lastfm">
			<header>
				<h1>This Week</h1>
			</header>
			<div class="inner">

				<div class="link">
					<a href="http://www.last.fm/user/wittysense/">_</a>
				</div>
			</div>
		</section>

	{# endplaceholder #}
	</aside-->
</section>
{% endblock %}

{% block footer %}
  <footer class="site-footer">
  {% placeholder "Footer" or %}

    <aside class="m m-imprint">
      <div class="m--content">
        <ul>
          <li><span class="t">#validate</span> <a href="http://lint.brihten.com/html/report?u={{ SITE_URL }}{% page_attribute "slug" %}&amp;s=1111111">html</a></li>
          <li><span class="t">#using</span> <a href="http://somerandomdude.com/work/iconic/">iconic</a>, <a href="https://typekit.com/eulas/00000000000000000001220a">la belle aurore</a></li>
        </ul>
      </div>
    </aside><!-- .m -->

  {% endplaceholder %}
  </footer>

{% endblock %}

{% render_block "tipjar" %}

</div><!-- End .container -->

{% render_block "scriptloader" %}

{% render_block "js" %}

{% render_block "analytics" %}

{# render_block "landmine" #}

{% analytical_body_bottom %}
</body>

</html>

