{% load cms_tags menu_tags sekizai_tags %}

<!DOCTYPE HTML>

{% block font %}
{% addtoblock "font" %}
{% include "font-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block css %}
{% addtoblock "css" %}
{% include "css-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block js %}
{% addtoblock "js" %}
{% include "js-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

<html lang="en">

<head>

<meta charset="utf-8" />

<title>/-;</title>

{% render_block "font" %}
{% render_block "css" %}

</head>

<body class="">

<div class="container">
<p>blugggh.</p>
</div>

{% render_block "js" %}

</body>

</html>
