{% load analytical cache cms_tags menu_tags sekizai_tags lastfm_widget %}

<!DOCTYPE HTML>

{% block font %}
{% addtoblock "font" %}
{% include "font-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block css %}
{% addtoblock "css" %}
{% include "css-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block js %}
{% addtoblock "js" %}
{% include "js-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block scriptloader %}
{% addtoblock "scriptloader" %}
{% include "js-scriptloader.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block analytics %}
{% addtoblock "analytics" %}
{% include "js-analytics.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block landmine %}
{% addtoblock "landmine" %}
{% include "js-landmine.tmpl" %}
{% endaddtoblock %}
{% endblock %}

<html lang="en">

<head>
{% analytical_head_top %}
<meta charset="utf-8" />

<link rel="dns-prefetch" href="//code.jquery.com" />
<link rel="dns-prefetch" href="//gittip.com" />
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//nerdfilesdotnet.disqus.com" />
<link rel="dns-prefetch" href="//ajax.cloudflare.com" />

<title>{% page_attribute "page_title" %} &#9679; nerdfiles.net</title>

{% render_block "font" %}
{% render_block "css" %}
{% render_block "scriptloader" %}

{% analytical_head_bottom %}
</head>

<body class="nerdfiles-net {% block body_class %}base{% endblock %}">
{% analytical_body_top %}
{% cms_toolbar %}

<div class="container">

<nav id="site-access">
  <ul>
    <li><a href="#main-content">Skip to content</a></li>
  </ul>
</nav>

<header>
  <ul class="activities">

    <li class="lastfm">
      <a 
        href="http://www.last.fm/user/wittysense"
        title="
          #RECENTLY PLAYED TRACKS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% for bob in rt %}
               {{ forloop.counter }}. {{ bob.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &#9656; {{ bob.url|cut:"www." }}{% if not forloop.last %}{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% empty %}
          Must be trapped in a well or something...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% endfor %}
        ">
        Recently Listened Tracks
      </a>
    </li>

  </ul>
	<h1>
    <a 
      href="http://nerdfiles.net"
      title="It's about time someone take things scificially.">
      nerdfiles.net
    </a>
  </h1>
</header>

{% cache 432000 kippt %}
<section class="important">
  <div class="ui widget kippt">
    {# if tweet #}
    <!--p>{{ tweet.text }}</p-->
    {# endif #}
    {% if kippt_saves %}
    <p>Hey, go read 
      {% if kippt_saves %}
        {% for save in kippt_saves %}
          
          {% if forloop.first %}
            <a 
              href="{{ save.url }}" 
              title="{{ save.title }}" 
              rel="external" 
            >this</a> and 
          {% endif %}

          {% if forloop.last %}
          <a 
            href="{{ save.url }}" 
            title="{{ save.title }}" 
            rel="external" 
          >this</a>.
          {% endif %}

        {% endfor %}
      {% endif %}
    </p>
    {% endif %}
  </div>
</section>
{% endcache %}

{% block main_content %}
<section>
    <article id="main-content">

        <!--section>
          <header>
            <h1>
            </h1>
          </header>
        </section-->
    
        <section>
        {% placeholder "Main Content" or %}
          <p>blugggh.</p>
        {% endplaceholder %}
        </section>

    </article>
</section>
{% endblock %}

{% block disqus %}
{% endblock %}

{% block aside_content %}
<!--
{# 
  @note since customarily a section with multiple 
        modules, placeholders should go inside .inner.
#}
-->
<section>
  <!--aside>
  {# placeholder "Aside Content" or #}

		<section class="mod mod-lastfm">
			<header>
				<h1>This Week</h1>
			</header>
			<div class="inner">

				<div class="link">
					<a href="http://www.last.fm/user/wittysense/">_</a>
				</div>
			</div>
		</section>

	{# endplaceholder #}
	</aside-->
</section>
{% endblock %}

{% block footer %}
<footer>
{% placeholder "Footer" or %}
	<p>...</p>
{% endplaceholder %}
</footer>
{% endblock %}

{% block personalfunding %}
  {% if not LOCAL %}
  <section class="personalfunding debug-{{ DEBUG }}">
    <p>Oh, and
    <iframe 
      style="border: 0; margin: 0; padding: 0;"
      src="https://www.gittip.com/nerdfiles/widget.html" 
      width="48pt" height="20pt"></iframe>.
    </p>
  </section>
  {% endif %}
{% endblock %}

</div><!-- End .container -->

<!--script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/sopa/1.0/stopcensorship.js"></script-->

{% render_block "js" %}

{% render_block "analytics" %}

{% render_block "landmine" %}

{% analytical_body_bottom %}
</body>

</html>
