{% extends 'tmpl-form-base.tmpl' %}
{% load cms_tags menu_tags sekizai_tags %}

{% block kippt %}
{{ block.super }}
{% endblock %}

{% block main_content %}
<section>
    <article id="main-content">

        <!--section>
          <header>
            <h1>form</h1>
          </header>
        </section-->
    
        <section>
        {% placeholder "Main Content" or %}
          <!-- conceal the form? -->
          <form 
            action="."
            method="post"
            id="anon">
            
            {% csrf_token %}
            
            <fieldset>
                <legend></legend>
                
                <div class="field-block field-text">
                
                    <div class="field-label">
                    
                        <label for="">Test input</label>
                    
                    </div>
                    
                    <div class="field-input">
                    
                        <input 
                            id="test"
                            name="test"
                            class="text"
                            value=""
                            placeholder="" />
                    
                    </div>
                
                </div>
                
            </fieldset>
            
            <fieldset>
                <legend></legend>
                
                <div class="field-block field-submit">
                
                    <div class="field-label">
                    
                        <label for="submit">Submit</label>
                    
                    </div>
                    
                    <div class="field-input">
                    
                        <button
                            id="submit"
                            name="submit"
                            class="submit-base icon-test">
                            
                            <!--
                                Use JS to toggle existence of icon based
                                on the presence of @class*="icon-{NAME}"
                            -->
                            <!--span class="icon"></span-->
                            
                            <span class="label">Test</span>
                            
                        </button>
                    
                    </div>
                
                </div>
                
            </fieldset>
            
          </form>
        {% endplaceholder %}
        </section>

    </article>
</section>
{% endblock %}

