<!-- == BEHAVIOR: {% block jsmode %}BASE{% endblock %} ======================================= -->

{% block before_script %}{% endblock %}

{% block script %}
<script src='http://code.jquery.com/jquery.min.js'></script>
<!--script src='{{ ASSETS_URL }}js-lib/jquery-waypoints/waypoints.min.js'></script-->
<script src='{{ ASSETS_URL }}js-lib/metaquery/metaquery.min.js'></script>
<script>
  $('body').data('SITE_URL', '{{ SITE_URL }}');
  $('html').removeClass('no-js');
</script>
<script src='{{ ASSETS_URL }}js/{{ COFFEE_URL }}/main.js'></script> 
{% block extra %}{% endblock %}

{% endblock %}
