<aside class="m m-imprint">
  <div class="m--content">
    <ul>
      <li><span class="t">#r&eacute;sum&eacute;</span> <a href="https://github.com/nerdfiles/R-sum-">R-sum-</a></li>
      <li><span class="t">#valid</span> <a href="http://validator.w3.org/check?uri={{ SITE_URL }}{% page_attribute "slug" %}&amp;ss=1;outline=1;No200=1;verbose=1">html</a></li>
      <li><span class="t">#extract</span> <a href="http://services.w3.org/xslt?xmlfile=http%3A%2F%2Fservices.w3.org%2Ftidy%2Ftidy%3FdocAddr%3D{{ SITE_URL }}{% page_attribute "slug" %}%26passThroughXHTML%3D1&amp;xslfile=http%3A%2F%2Fwww.w3.org%2F2002%2F08%2Fextract-semantic.xsl">semantics</a></li>
      <li><span class="t">#using</span> <a href="http://somerandomdude.com/work/iconic/">iconic</a>, <a href="https://typekit.com/eulas/00000000000000000001220a">la belle aurore</a></li>
    </ul>
  </div>
</aside><!-- .m -->
