{% extends 'tmpl-base.tmpl' %}
{% load cms_tags menu_tags sekizai_tags %}

{% block css %}
{% addtoblock "css" %}
{% include "css-home.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block kippt %}
{% addtoblock "kippt" %}
{% include "kippt.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block body_class %}base home-page{% endblock %}

