{% load replace analytical cache cms_tags menu_tags sekizai_tags %}

<!DOCTYPE HTML>

{% block font %}
{% addtoblock "font" %}
{% include "font-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block css %}
{% addtoblock "css" %}
{% include "css-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block js %}
{% addtoblock "js" %}
{% include "js-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block scriptloader %}
{% addtoblock "scriptloader" %}
{% include "js-scriptloader.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block analytics %}
{% addtoblock "analytics" %}
{% include "js-analytics.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block media %}
{% addtoblock "mediaquery" %}
{% include "media-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block tipjar %}
{% addtoblock "tipjar" %}
{% include "js-tipjar.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block landmine %}
{% addtoblock "landmine" %}
{% include "js-landmine.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block kippt %}
{% endblock %}

<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->

<!-- head:browser,dns-prefetch,meta,responses,presentation,ie,print -->
<head>
{% analytical_head_top %}

<!-- head::browser -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

<!-- head::dns-prefetch -->
<link rel="dns-prefetch" href="//use.edgefonts.net" />
<link rel="dns-prefetch" href="//code.jquery.com" />
<link rel="dns-prefetch" href="//google-analytics.com" />

<!-- head::meta -->
<title itemprop="name">{% page_attribute "page_title" %} &#9679; nerdfiles.net</title>
<meta name="description" content="Web dev: JavaScript, jQuery, CoffeeScript, SASS, OO CSS, Grid Systems, Python, Django, PHP, WordPress, HTML5, Hypermedia, Web Science" />
<meta itemprop="description" content="Web dev: JavaScript, jQuery, CoffeeScript, SASS, OO CSS, Grid Systems, Python, Django, PHP, WordPress, HTML5, Hypermedia, Web Science" />
<meta itemprop="creator" content="nerdfiles" />
<meta itemprop="inLanguage" content="en" />
<link rel="canonical" href="http://nerdfiles.net" />
<meta itemprop="url" content="http://nerdfiles.net" />

<!-- head::mobile -->
<meta name="MobileOptimized" content="320" />
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />

<!-- This shit is ew on text. -->
<!--meta http-equiv="cleartype" content="on" /-->

<!-- head::responses -->

<!-- head::presentation -->
{% render_block "font" %}

{% render_block "css" %}

<link
    rel="stylesheet"
    href="{{ ASSETS_URL }}font/iconic/iconic_fill/iconic_fill.css" />

<link
    rel="shotcut icon"
    href="{{ ASSETS_URL }}img-ui/favicon.png" />

<!-- head::mediaquery -->

{# render_block "mediaquery" #}

<!-- head::ie -->

<!-- head::print -->

{% analytical_head_bottom %}
</head>

<body {% block page_schema %}itemscope itemtype="http://schema.org/AboutPage"{% endblock %} class="nerdfiles-net-{% page_attribute "slug" %} {% block body_class %}base{% endblock %}">

<!--[if lt IE 7]>
  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

{% analytical_body_top %}

{% cms_toolbar %}

<div class="container">

<nav id="site-access">
  <ul>
    <li><a href="#main-content">Skip to Content</a></li><!-- #isking -->
    <!--li><a href="#drop-tip">Drop a tip?</a></li--><!-- #tipjar -->
  </ul>
</nav>

{% cache 2880 activities %}
<header class="site-header">
  <ul class="activities">

    {% include "js-lastfm.tmpl" %}

    {% include "js-twitter.tmpl" %}

  </ul><!-- .activities -->
  <h1>
    <a href="http://nerdfiles.net" title="It's about time someone took things scificially.">
      nerdfiles.net
    </a>
  </h1>
</header><!-- .site-header -->
{% endcache %}

{% render_block "kippt" %}

{% cache 2880 main %}
{% block main_content %}
<section>
    <article id="main-content" role="main" class="main">

        <section>
        {% placeholder "Main Content" or %}
          <p><code>.empty</code></p>
        {% endplaceholder %}
        </section>

    </article>
</section>
{% endblock %}
{% endcache %}

{% block disqus %}
{% endblock %}

{% block aside_content %}
{% endblock %}

{% block footer %}
  <footer class="site-footer">
  {% placeholder "Footer" or %}

    <aside class="m m-imprint">
      <div class="m--content">
        <ul>
          <!--li><span class="t">#r&eacute;sum&eacute;</span> <a href="https://github.com/nerdfiles/R-sum-">R-sum-</a></li-->
          <li><span class="t">#valid</span> <a href="http://validator.w3.org/check?uri={{ SITE_URL }}{% page_attribute "slug" %}&amp;ss=1;outline=1;No200=1;verbose=1">html</a>, <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://nerdfiles.net">css</a></li>
          <li><span class="t">#extract</span> <a href="http://services.w3.org/xslt?xmlfile=http%3A%2F%2Fservices.w3.org%2Ftidy%2Ftidy%3FdocAddr%3D{{ SITE_URL }}{% page_attribute "slug" %}%26passThroughXHTML%3D1&amp;xslfile=http%3A%2F%2Fwww.w3.org%2F2002%2F08%2Fextract-semantic.xsl">semantics</a></li>
          <li><span class="t">#using</span> <a href="http://somerandomdude.com/work/iconic/">iconic</a>, <a href="https://typekit.com/eulas/00000000000000000001220a">la belle aurore</a></li>
        </ul>
      </div>
    </aside><!-- .m -->

  {% endplaceholder %}
  </footer>
{% endblock %}

{# render_block "tipjar" #}

</div><!-- End .container -->

{% render_block "scriptloader" %}

{% render_block "js" %}

{% render_block "analytics" %}

{# render_block "landmine" #}

{% analytical_body_bottom %}
</body>

</html>

