<p>Web analyst,&#160;psychonaut,&#160;anarchist footballer, tactical urban cyclist, food hacker, aasimar —</p>
<div itemscope itemtype="http://schema.org/ItemList">
  <meta itemprop itemprop="mainContentOfPage" content="true" />
  <h2 itemprop="name" class="accessiblyhide">Web Presence</h2>
  <meta itemprop="itemListOrder" content="Descending" />
  <ol>
      <li><span itemprop="itemListElement"><a href="https://github.com/nerdfiles">github</a></span>,
          <span itemprop="itemListElement"><a href="http://snipplr.com/users/nerdfiles/">snipplr</a></span>,
          <span itemprop="itemListElement"><a href="http://ifttt.com/people/nerdfiles">ifttt</a></span>, or
          <span itemprop="itemListElement"><a href="http://wordpress.org/support/profile/filesofnerds">wp</a></span>; social coding, active projects, etc.</li>
      <li><span itemprop="itemListElement"><a href="http://webjournal.nerdfiles.net">webjournal</a></span>; philosophical departures, poetry, essays, etc.; and other bits:
          <a href="http://webjournal.nerdfiles.net/about/"><abbr title="Curriculum Vitae">cv</abbr></a>;
          <a href="http://webjournal.nerdfiles.net/recipes/">recipes</a>;
          <a href="http://webjournal.nerdfiles.net/claims/">claims</a>;
          <a href="http://webjournal.nerdfiles.net/quotes/">quotes</a>;
          <a href="http://webjournal.nerdfiles.net/poems/">poems</a></li>
      <li><span itemprop="itemListElement"><a href="http://soundcloud.com/nerdfiles">soundcloud</a></span>
          or
          <span itemprop="itemListElement"><a href="http://www.last.fm/music/Wept+Without+Wit">last.fm</a></span>
          or
          <span itemprop="itemListElement"><a href="http://www.discogs.com/user/nerdfiles">discogs</a></span>; social music</li>
      <li><span itemprop="itemListElement"><a href="http://flickr.com/photos/wittysense/">flickr</a></span>; photojournal</li>
      <li><span itemprop="itemListElement"><a href="https://twitter.com/filesofnerds">twitter</a></span>
          (<span itemprop="itemListElement"><a href="http://bottlenose.com/twitter/filesofnerds">bottlenose</a></span>) or
          <span itemprop="itemListElement"><a href="http://profiles.google.com/nerdfiles">g+</a></span></li>
      <li><span itemprop="itemListElement"><a href="http://disqus.com/nerdfiles/">disqus</a></span> 
          or
          <span itemprop="itemListElement"><a href="http://wittysense.tumblr.com">tumblr</a></span>
          or
          <span itemprop="itemListElement"><a href="http://news.ycombinator.com/user?id=nerdfiles">hn</a></span>; thoughts in the Web</li>
      <li><span itemprop="itemListElement"><a href="http://www.goodreads.com/nerdfiles">goodreads</a></span>; social reading</li>
      <li><span itemprop="itemListElement"><a href="http://imi-imi.appspot.com/users/nerdfiles@gmail.com">imi-imi</a></span>
          or
          <span itemprop="itemListElement"><a href="https://kippt.com/nerdfiles/">kippt</a></span>; social bookmarking</li>
      <li><span itemprop="itemListElement"><a href="http://screenleap.com/nerdfiles">screenleap</a></span>;
          <a href="http://plainchess.timwoelfle.de/" title="You know how to send an e-mail, surely.">plainchess</a>?; anything else?</li>
      <li>public
          <a href="https://www.dropbox.com/sh/sscph5xpshvwttc/snNlp1KT7C">dropbox</a></li>
  </ol>
</div><!-- @itemscope:ItemList -->
<h2>What's more...</h2>
<div itemscope itemtype="http://schema.org/Person">
<p>✉ E-mail me at
    <a itemprop="email" href="mailto://nerdfiles@gmail.com">nerdfiles@gmail.com</a>.</p>
</div>

